:root {
  --color-yellow: #fab005;
  --color-green: #2f9e44;
  --color-black: #1e1e1e;
  --radius-border: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: max(15px, 0.8vw);
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: auto;
  height: auto;
}

.hidden {
  display: none !important;
}

/* body */
body {
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--color-black);
}

/* nav bar */
#navigation-bar {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 1em;
  padding: 0em 1em;
  width: 100%;
  height: 3.4em;
}

#navigation-bar .title a {
  color: var(--color-green);
  font-weight: bold;
  font-size: 2em;
}
#navigation-bar .how-to {
  margin-top: auto;
  padding-bottom: 1em;
}

#navigation-bar .how-to a {
  color: var(--color-green);
  font-weight: bolder;
  font-size: 1em;
}

#navigation-bar .symbol {
  margin-left: auto;
}

#navigation-bar .symbol a {
  height: 1.9rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation-bar .symbol svg {
  /* use rem, as em wont scale svgs when site is zoomed */
  height: 1.9rem;
  width: auto;
}

#navigation-bar .symbol svg * {
  stroke: var(--color-green);
}

/* yellow */
#yellow {
  background-color: var(--color-yellow);
  min-height: calc(100vh - 3.4em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

#yellow .title h1 {
  margin-top: 2.5em;
  font-size: 5em;
  font-weight: bold;
  color: var(--color-green);
  text-align: center;
  max-width: 7em;
}

#yellow .subtitle {
  margin: 0.5em 0em;
  font-size: 1.5em;
  font-weight: bolder;
  color: var(--color-green);
}

#yellow .drop-input {
  margin-top: 0.5em;
  width: 20em;
  height: 5em;
  background-color: var(--color-green);
  border-radius: var(--radius-border);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#yellow .drop-input.dragover {
  background-color: var(--color-black);
}

#yellow .drop-input .mic {
  display: flex;
  align-items: center;
  justify-content: center;
}

#yellow .drop-input .mic svg {
  margin: 0em 1em;
  width: 3rem;
  height: auto;
}

#yellow .drop-input .mic svg * {
  stroke: var(--color-black);
}

#yellow .drop-input.dragover .mic svg * {
  stroke: var(--color-green) !important;
}

#yellow .drop-input .wave {
  margin-right: 1em;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#yellow .drop-input .wave svg {
  width: 100%;
  height: 4rem;
}

#yellow .drop-input .wave svg * {
  stroke: var(--color-black);
}

#yellow .drop-input.dragover .wave svg * {
  stroke: var(--color-green);
}

#yellow .process {
  margin-top: 8em;
  font-size: 2em;
  font-weight: bold;
  color: var(--color-green);
  text-align: center;
  max-width: 7em;
}

#yellow .progress-bar {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 0.25rem solid var(--color-green);
  margin-top: 1em;
  background: var(--color-yellow);
  background: conic-gradient(var(--color-green) 0%, rgba(47, 158, 68, 0) 0%);
}

#yellow .process-info {
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-green);
  text-align: center;
  max-width: 7em;
}

#yellow .file-bar {
  margin: 2em 0em;
  width: 80%;
  height: 4em;
  background-color: var(--color-green);
  border-radius: var(--radius-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
}

#yellow .file-bar > button svg {
  width: 2em;
  height: auto;
}

#yellow .file-bar > button svg * {
  fill: var(--color-black);
}

/* the text for the tiles */
#yellow .text {
  color: var(--color-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0em 3em;
  margin-bottom: 1em;
}

#yellow .text .found {
  font-size: 2em;
}

#yellow .text .download {
  font-size: 1.4em;
  margin-left: auto;
}

#yellow .tiles {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
  padding: 0em 3em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

#yellow .tile {
  width: 10em;
  height: 10em;
  border: 0.2em solid var(--color-black);
  border-radius: var(--radius-border);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: width 500ms ease-out;
}

#yellow .tile.open {
  width: 32em;
}

#yellow .tile .main {
  min-width: 9.5em;
  height: 9.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#yellow .tile .main .top {
  margin: 0.25em 0em;
  width: 100%;
  height: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0em 0.5em;
  justify-content: space-between;
}

#yellow .tile .main .top button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#yellow .tile .main .top svg {
  height: 1.3em;
  width: auto;
}

#yellow .tile .main .top svg * {
  stroke: var(--color-black);
}

#yellow .tile .main .wave {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#yellow .tile .main .wave svg {
  height: 100%;
  width: auto;
}

#yellow .tile .main .wave svg * {
  stroke: var(--color-black);
}

#yellow .tile .main .more {
  height: 1em;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

#yellow .tile .divider {
  height: 80%;
  width: 0.2em;
  border: 0.1em solid var(--color-black);
  border-radius: 0.2em;
  margin: 0em 0.1em;
}

#yellow .tile .side {
  min-width: 22em;
  width: 22em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding: 1em 1em;
  overflow-x: scroll;
}

#yellow .tile .side .sample {
  width: 8em;
  margin: 0em 1em;
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#yellow .tile .side .sample span {
  font-size: 0.7em;
  text-align: center;
}

#yellow .tile .side .sample button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#yellow .tile .side .sample svg {
  height: 1.5em;
  width: auto;
}

#yellow .tile .side .sample svg * {
  stroke: var(--color-black);
}

#yellow .how {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#yellow .how .text {
  color: var(--color-green);
  font-weight: bolder;
}

#yellow .how .arrow svg {
  width: 1.5rem;
  height: auto;
}

#yellow .how .arrow svg * {
  stroke: var(--color-green);
}

/* green */
#green {
  /* padding-top: 2em; */
  background-color: var(--color-green);
  min-height: 100vh;
}

#green .seg {
  display: flex;
  flex-direction: row;
}

#green .seg .text {
  width: 70%;
  height: 10em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

#green .seg .pic {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#green .seg .pic svg {
  width: 5rem;
  height: auto;
}

#green .seg .pic svg * {
  stroke: var(--color-black);
}

/* footer */
#footer-bar {
  background-color: var(--color-black);
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--color-green);
  font-size: 1.2em;
  font-weight: bolder;
}
